
.container {
    position: relative;
    isolation: isolate;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
}

.texture {
    position: absolute;
    inset: 0;
    z-index: 2;
    pointer-events: none;
    
    background-size: cover;
    background-position: center;
    -webkit-mask-image: radial-gradient(circle 25vw at -9999px -9999px, black 0%, transparent 100%);
    mask-image: radial-gradient(circle 25vw at -9999px -9999px, black 0%, transparent 100%);
}

.image {
    position: absolute;
    z-index: 3;
    max-width: 100%;
    top: 10%;
    object-fit: contain;
}

.text {
    position: absolute;
    z-index: 3;
    color: #FFFFFF;
    font-family: "Orbitron";
    left: 5.2%;
    bottom: 15%;
    font-size: 0.7rem;
    width: 90%;
}

.visualMedia {
    padding-left: 2%;
    font-size: 1rem;
}

.para {
    position: absolute;
    z-index: 3;
    color: #FFFFFF;
    font-family: "Orbitron";
    font-size: 0.9rem;
    bottom: 45%;
    width: 30%;
    right: 20%;
}

.para1 {
    position: absolute;
    z-index: 3;
    color: #FFFFFF;
    font-family: "Orbitron";
    font-size: 0.9rem;
    bottom: 35%;
    width: 30%;
    right: 20%;
}

.para2 {
    position: absolute;
    z-index: 3;
    color: #FFFFFF;
    font-family: "Orbitron";
    font-size: 0.9rem;
    bottom: 28%;
    width: 30%;
    right: 20%;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    color: #FFFFFF;
    font-family: "Josefin Sans";
    bottom: 7%;
    right: 7%;
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 999px;
}
.grid {
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0.4;
    background:
        repeating-linear-gradient(
            to right,
            rgba(255,255,255,.2) 0,
            rgba(255,255,255,.2) 1px,
            transparent 1px,
            transparent 60px
        ),
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,.2) 0,
            rgba(255,255,255,.2) 1px,
            transparent 4px,
            transparent 60px
        );
}

.gradient{
    position:absolute;
    left:0;
    top:0;
    width:60%;
    height:90%;
    z-index:999;
    pointer-events:none;

    background:
        radial-gradient(
            circle at 20% 40%,
            rgba(180,250,255,.9) 0%,
            rgba(60,210,230,.75) 35%,
            rgba(20,90,100,.35) 60%,
            transparent 85%
        );

    mix-blend-mode: color;
}